@import 'variables';

:host {
  display: block;

  position: fixed;
  bottom: 0;
  right: 6px;
  width: 100%;
  height: $footer-height;

  .footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;

    font-size: smaller;

    .right {
      text-align: end;

      .subtitle {
        font-size: xx-small;
      }
    }
  }
}
