@import 'variables';

:host {
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 6px;
  width: auto;
  height: $footer-height;

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: smaller;

    .left {
      padding-left: 6px;
    }

    .right {
      text-align: end;

      .subtitle {
        font-size: xx-small;
      }
    }
  }
}
